@import '../../../style/pallete.scss';

mat-card
{
    display: block;
    margin: 3em auto;
    width: 22em;
    min-height: 14em;
}

.mat-chip, mat-card
{
    color: #444 !important;
}

mat-form-field
{
    width: calc(100% - 1.5em);   
}

